
/****************************************** GENERAL STYLES FOR THE CANVAS SECTION **********************************/ 


.canvas-container{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: rgba( 255, 168, 226, 0.50 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 21rem;
    margin-top: 1%;
    }

/****************************************** END OF GENERAL STYLES FOR THE CANVAS SECTION **********************************/ 

/****************************************** STYLES FOR THE TOP AN BOTTOM TEXT CANVAS SECTION **********************************/ 

.text-part{
    background-color: var(--backgrounds);
    height: 4rem;
    color: var(--secondaryTitles);
    font-family: pastika-demo;
    padding: .5rem;
    font-size: 1.5rem;
}

/****************************************** END OF STYLES FOR THE TOP AND BOTTOM OF  TEXT CANVAS SECTION **********************************/ 



/****************************************** STYLES FOR THE IMAGE CONTAINER OF THE  CANVAS SECTION **********************************/ 

.image-part{
    
    height: 16rem;
}


/****************************************** END OF STYLES FOR THE IMAGE CONTAINER OF THE  CANVAS SECTION **********************************/ 


/****************************************** START OF RESPONSIVENESS **********************************/ 


/****************************************** SMALL  DEVICES **********************************/ 
@media (min-width: 320px) and (max-width: 425px){
    
.canvas-container{
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 14rem;
    }

    .text-part{
        background-color: var(--backgrounds);
        height: 2rem;
        color: var(--secondaryTitles);
        font-family: pastika-demo;
        padding: .4rem;
        font-size: 2¿1rem;
    }

    
    .image-part{
        background-color: transparent;
        height: 10rem;
    }



}

 /****************************************** MEDIUM  DEVICES **********************************/
 @media (min-width: 426px) and (max-width: 720px){
     .canvas-container{
        width: 75%;
     }
 }

/******************************************LARGE  DEVICES **********************************/

@media (min-width: 721px) and (max-width: 1024px){
    .canvas-container{
        width: 65%;
    }
}
/****************************************** END OF RESPONSIVENESS**********************************/ 