
/*************************************************************** START OF GENERAL STYLES FOR THE TOP MENU ******************************************************************************/

.principal-menu{
    background-color: var(--backgrounds);
    height: auto;
    padding: 1%;
    
}


/*************************************************************** END OF GENERAL STYLES FOR THE TOP MENU ******************************************************************************/


/*************************************************************** START OF  STYLES FOR THE TOP MENU TITLE******************************************************************************/

.principal-title{
    text-align: center;
    color: var(--principalTitles);
    padding: 1%;
    font-family: cosmith-sans;
    font-size: 2.6em;
    padding-top: 1%;

}


.principal-title:hover{
    background: #FA26A0;
    background: -webkit-linear-gradient(to right, #FA26A0 0%, #26DFD0 8%, #E965B2 29%, #07BB9C 50%, #E56997 67%, #BD97CB 100%);
    background: -moz-linear-gradient(to right, #FA26A0 0%, #26DFD0 8%, #E965B2 29%, #07BB9C 50%, #E56997 67%, #BD97CB 100%);
    background: linear-gradient(to right, #FA26A0 0%, #26DFD0 8%, #E965B2 29%, #07BB9C 50%, #E56997 67%, #BD97CB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

/*************************************************************** START OF  STYLES FOR THE KEYPAD OF THE TOP MENU ******************************************************************************/


.keypad{
    text-align: center;
    
    
    
    
}

/*************************************************************** END OF STYLES  FOR THE KEYPAD OF THE  TOP MENU ******************************************************************************/


/*************************************************************** START OF  STYLES FOR THE BUTTONS OF THE KEYPAD OF THE  TOP MENU ******************************************************************************/


.P-menu-button{
    font-size: 1.2em;
    font-family: cosmith-sans;
    background-color: var(--buttons);
    color: black;
    border: none;
    border-radius: .7rem;
    padding: .2rem 1rem;
    margin: .2rem ;
    cursor: pointer;
}


.P-menu-button:hover{
    transition: 1s;
    color: var(--secondaryTitles);
    background-color: var(--backgrounds);
    border: 1px solid var(--buttons);


}

/*************************************************************** END OF  STYLES FOR THE BUTTONS OF THE KEYPAD OF THE  TOP MENU ******************************************************************************/


/*************************************************************** start of responsiveness ******************************************************************************/



/****************************************** SMALL DEVICES **********************************/ 
@media (min-width: 320px) and (max-width: 720px) {
    .principal-title {
        text-align: center;
        color: var(--principalTitles);
        padding: .1rem;
        font-family: cosmith-sans;
        font-size: 1.2em;
    }

    .P-menu-button{
        font-size: .5em;
        font-family: cosmith-sans;
        background-color: var(--buttons);
        color: black;
        border: none;
        border-radius: .7rem;
        padding: .2rem .2rem;
        cursor: pointer;
    }

    .principal-menu{
        background-color: var(--backgrounds);
        height: auto;
        padding: .5rem;
        
    }
 }


 /****************************************** MEDIUM DEVICES  **********************************/ 

 @media (min-width: 720px) and (max-width: 1024px){
    .principal-title{
        text-align: center;
        color: var(--principalTitles);
        padding: .2rem;
        font-family: cosmith-sans;
        font-size: 2em;
        padding-top: .3rem;
    
    }

    .P-menu-button{
        font-size: 1.1em;
        font-family: cosmith-sans;
        background-color: var(--buttons);
        color: black;
        border: none;
        border-radius: .7rem;
        padding: .5rem 1rem;
        margin: .1rem .4rem;
        cursor: pointer;
    }
    
 }

/*************************************************************** End of responsiveness ******************************************************************************/
