/***************************************************************************************************************************************************************************************/
/*************************************************************** START OF GENERAL STYLES FOR BOTH ASIDES ******************************************************************************/
/***************************************************************************************************************************************************************************************/



/***********************************************************************/
/********************* ASIDE MENU**************************************/
/***********************************************************************/

.fa-times-circle{
  color: var(--principalTitles);
  cursor: pointer;
}

.aside-menu{
    top: 0;
    right: 0;
    position: fixed;
    float: right;
    height: 100vh;
    background-color: var(--backgrounds);
    width: 20vw;
    padding: .3rem ;
    font-family: pastika-demo;
}


/***********************************************************************/
/*********************PRINCIPAL TITLES OF THE ASIDE ********************/
/***********************************************************************/


.main-aside-title{
    color: var(--secondaryTitles);
    font-size: 1.2em;
    text-align: center;

}


/***********************************************************************/
/********************* FORMULARY CONTAINER *****************************/
/***********************************************************************/

.form{
    
    font-size: 1.2em;
    color: var(--labels);

}

.form-title{
    font-size: .6em;
    font-weight: normal;
    ;
}



/*************************************************************************************************************************************************************************************/
/*************************************************************** END OF GENERAL STYLES FOR BOTH ASIDES ******************************************************************************/
/***********************************************************************************************************************************************************************************/

/*******************************************************************************************************************************************************************************/
/*************************************************************** START OF  STYLES FOR IMAGE ASIDE ******************************************************************************/
/*******************************************************************************************************************************************************************************/



/***********************************************************************/
/********************* URL INPUT *****************************/
/***********************************************************************/

.url{
    height: 1rem;
    width: 100%;
    padding: 0.3rem;
    background-color: var(--tinputs2);
    border: none;
    border-radius: .3rem;

}






/***********************************************************************/
/********************* INPUT CONTAINER *****************************/
/***********************************************************************/


.image-color-container{
    background-color: var(--tinputs2);
    display: inline-block;
    padding: .1rem;
    border-radius: .3rem;
    color: var(--backgrounds);
    font-size: .4em;
}

/***********************************************************************/
/********************* OPTIONS FOR THE COLOR IMAGE (SELECT) *******************/
/***********************************************************************/

      
.color-image-options{
    background-color: var(--tinputs2);
    height: 1.2rem;
    padding: .3rem;
    border-radius: .3rem;
    border: none;
    font-family: pastika-demo;
    font-size: .5em;
    width: 50%;

}

/***********************************************************************/
/********************* FILTERS SECTION *****************************/
/***********************************************************************/

.filters-section{
  height: 2.4rem;
  padding: .2rem;
  
}


/***********************************************************************/
/********************* FILTER TITLES *****************************/
/***********************************************************************/


.filter-title{
    font-size: .7em;
    color: var(--tlabels);
}


/***********************************************************************/
/********************* RANGE INPUT STYLES *****************************/
/***********************************************************************/


.range-input {
    -webkit-appearance: none;
    width: 100%;
  }
  .range-input:focus {
    outline: none;
  }
  .range-input::-webkit-slider-runnable-track {
    width: 90%;
    height: .2rem;
    cursor: pointer;
    background: var(--inputs3);
    border-radius: .3rem;
    
    
  }
  .range-input::-webkit-slider-thumb {
    border: none;
    height: .5rem;
    width: .5rem;
    border-radius: .5rem;
    background: var(--inputs2);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -.2rem;
  }
  .range-input:focus::-webkit-slider-runnable-track {
    background: var(--tinputs3);
  }

/***********************************************************************/
/********************* VARIATIONS FOR MOZILLA ***********************/
/***********************************************************************/


  .range-input::-moz-range-track {
    width: 90%;
    height: .4rem;
    cursor: pointer;
    background: var(--inputs3);
    border-radius: .3rem;
    border:none;
  }
  .range-input::-moz-range-thumb {
    border: none;
    height: .4rem;
    width: .4rem;
    border-radius: .4rem;
    background: var(--inputs2);
    cursor: pointer;
    -webkit-appearance: none;
  }
  

  .reset-button{
      background-color: var(--tbuttons);
      color: var(--backgrounds);
      font-size: .5em;
      text-align: center;
      border: none;
      border-radius: .4rem;
      padding: .3rem;  
      font-family: pastika-demo;
      cursor: pointer;
      margin-top: .4rem;
}

.reset-button:hover{
    border:  1px solid var(--buttons);
    color: var(--secondaryTitles);
    background-color: var(--backgrounds);
    transition: 1.5s;
    
}
    

@media (min-width: 320px) and (max-width: 1024px){
  .aside-menu{
    display: none;
    width: 100%;
  }
}


@media (min-width: 1025px) and (max-width: 1440px){
  .fa-times-circle{
    display: none;
  }

  .close-responsive-aside{
    display: none;
  }
}