
/*************************************************************** START OF GENERAL STYLES FOR BOTH ASIDES ******************************************************************************/

.aside-menu{
    top: 0;
    right: 0;
    position: fixed;
    float: right;
    height: 100vh;
    background-color: var(--backgrounds);
    width: 20vw;
    padding: 1rem ;
    font-family: pastika-demo;
}


.main-aside-title{
    color: var(--secondaryTitles);
    font-size: 3em;
    text-align: center;

}

.form{
    margin: 1rem;
    font-size: 1.7em;
    color: var(--labels);

}




/*************************************************************** END OF GENERAL STYLES FOR BOTH ASIDES ******************************************************************************/

/*************************************************************** START OF  STYLES FOR IMAGE ASIDE ******************************************************************************/

.url{
    height: 1.7rem;
    width: 90%;
    padding: 0.3rem;
    background-color: var(--inputs2);
    border: none;
    border-radius: .3rem;

}

.row-section1{
    margin-top: 1rem;
}

.image-color-container{
    background-color: var(--tinputs2);
    display: inline-block;
    padding: .3rem;
    border-radius: .3rem;
}

