/***************************************************************************************************************************************************************************************/
/*************************************************************** START OF GENERAL STYLES FOR BOTH ASIDES ******************************************************************************/
/***************************************************************************************************************************************************************************************/



/***********************************************************************/
/********************* ASIDE MENU**************************************/
/***********************************************************************/


.aside-menu{
    top: 0;
    right: 0;
    position: fixed;
    float: right;
    height: 100vh;
    background-color: var(--backgrounds);
    width: 20vw;
    padding: 1rem ;
    font-family: pastika-demo;
}


/***********************************************************************/
/*********************PRINCIPAL TITLES OF THE ASIDE ********************/
/***********************************************************************/


.main-aside-title{
    color: var(--secondaryTitles);
    font-size: 3em;
    text-align: center;

}


/***********************************************************************/
/********************* FORMULARY CONTAINER *****************************/
/***********************************************************************/

.form{
    margin: 1rem;
    font-size: 1.7em;
    color: var(--labels);

}

.form-title{
    font-size: 1em;
    font-weight: normal;
    margin: .5rem 0rem;
}



/*************************************************************************************************************************************************************************************/
/*************************************************************** END OF GENERAL STYLES FOR BOTH ASIDES ******************************************************************************/
/***********************************************************************************************************************************************************************************/

/*******************************************************************************************************************************************************************************/
/*************************************************************** START OF  STYLES FOR IMAGE ASIDE ******************************************************************************/
/*******************************************************************************************************************************************************************************/



/***********************************************************************/
/********************* URL INPUT *****************************/
/***********************************************************************/

.url{
    height: 1.7rem;
    width: 90%;
    padding: 0.3rem;
    background-color: var(--tinputs2);
    border: none;
    border-radius: .3rem;

}

/***********************************************************************/
/********************* SECTION OF CHANGES OF COLOR FOR THE IMAGE *********/
/***********************************************************************/


.row-section1,
.filter-section{
    margin-top: 1rem;
}

/***********************************************************************/
/********************* INPUT CONTAINER *****************************/
/***********************************************************************/


.image-color-container{
    background-color: var(--tinputs2);
    display: inline-block;
    padding: .3rem;
    border-radius: .3rem;
    color: var(--backgrounds);
}

/***********************************************************************/
/********************* OPTIONS FOR THE COLOR IMAGE (SELECT) *******************/
/***********************************************************************/

      
.color-image-options{
    background-color: var(--tinputs2);
    height: 2.4rem;
    padding: .3rem;
    border-radius: .3rem;
    border: none;
    font-family: pastika-demo;
    font-size: .6em;

}

/***********************************************************************/
/********************* FILTERS SECTION *****************************/
/***********************************************************************/


/***********************************************************************/
/********************* FILTER TITLES *****************************/
/***********************************************************************/


.filter-title{
    font-size: .7em;
    color: var(--tlabels);
}


/***********************************************************************/
/********************* RANGE INPUT STYLES *****************************/
/***********************************************************************/


.range-input {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  .range-input:focus {
    outline: none;
  }
  .range-input::-webkit-slider-runnable-track {
    width: 90%;
    height: .4rem;
    cursor: pointer;
    background: var(--inputs3);
    border-radius: .3rem;
    border:none;
  }
  .range-input::-webkit-slider-thumb {
    border: none;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 1rem;
    background: var(--inputs2);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -.5rem;
  }
  .range-input:focus::-webkit-slider-runnable-track {
    background: var(--tinputs3);
  }

/***********************************************************************/
/********************* VARIATIONS FOR MOZILLA ***********************/
/***********************************************************************/


  .range-input::-moz-range-track {
    width: 90%;
    height: .4rem;
    cursor: pointer;
    background: var(--inputs3);
    border-radius: .3rem;
    border:none;
  }
  .range-input::-moz-range-thumb {
    border: none;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 1rem;
    background: var(--inputs2);
    cursor: pointer;
    -webkit-appearance: none;
  }
  

  .reset-button{
      background-color: var(--tbuttons);
      color: var(--backgrounds);
      font-size: .7em;
      text-align: center;
      border: none;
      border-radius: .4rem;
      padding: .4rem;  
      font-family: pastika-demo;
      cursor: pointer;
}

.reset-button:hover{
    border:  1px solid var(--buttons);
    color: var(--secondaryTitles);
    background-color: var(--backgrounds);
    transition: 1.5s;
    
}
    