
/****************************************** General styles of the DOM  **********************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: var(--backgroundImage);
    height: 120vh;
}

/****************************************** ADDING FONTS **********************************/


/* PRINCIPAL FONT for titles*/
@font-face{
    src: url(../assets/fonts/cosmith.sans.ttf);
    font-family: cosmith-sans;
} 


/*SECONDARY FONT for subtitles and text*/
@font-face{
    src: url(../assets/fonts/pastika-demo.medium.ttf);
    font-family: pastika-demo;
}



/*FONTS for the  font selection part of the text menu*/

@font-face{
    src: url(../assets/fonts/bella-years.regular.ttf);
    font-family: bella-years;
}




@font-face{
    src: url(../assets/fonts/how-dare-you.regular.ttf);
    font-family: how-dare-you;

}




@font-face{
    src: url(../assets/fonts/macho-weak.regular.ttf);
    font-family: macho-weak;
}




@font-face{
    src: url(../assets/fonts/mellow-yellow.regular.ttf);
    font-family: mellow-yellow;
}




@font-face{
    src: url(../assets/fonts/murky.regular.ttf);
    font-family: murky;
}



@font-face{
    src: url(../assets/fonts/sweet-cherry-free.regular.ttf);
    font-family: sweet-chery;
}



/****************************************** END OF ADDING FONTS **********************************/ 


/****************************************** COLOR PALETTES **********************************/ 


/***** DARK MODE COLOR PALETTE **********************************/ 

:root{
    --dmbackgrounds: rgb(24, 24, 24);
    --dmtbackgrounds: rgba(24, 24, 24, 0.829);
    --dmprincipalTitles: rgb(0, 244, 242);
    --dmtprincipalTitles: rgba(0, 244, 242, 0.733);
    --dmlabels: rgb(167, 170, 245);
    --dmtlabels: rgb(167, 170, 245,0.733);
    --dmsecondaryTitles: rgb(100, 235, 158);
    --dmtsecondaryTitles: rgb(100, 235, 158,0.733);
    --dmbuttons:rgb(180, 182, 187);
    --dmtbuttons:rgb(180, 182, 187,0.733);
    --dminputs2:rgb(244, 145, 198);
    --dmtinputs2:rgb(244, 145, 198,0.733);
    --dminputs3:rgb(245, 180, 108);
    --dmtinputs3:rgb(245, 180, 108,0.733);
    --dmbackgroundImage: url(../assets/images/dark-mode-background.png);
    
}

:root{
    --backgrounds: white;
    --tbackgrounds: white;
    --principalTitles: #FA26A0;
    --tprincipalTitles: #fa26a2bd;
    --labels: #26DFD0;
    --tlabels: #26DFD0cc;
    --secondaryTitles: #e965b2;
    --tsecondaryTitles: #e965b2cc;
    --buttons:#07BB9C;
    --tbuttons:#07BB9C;
    --inputs2:#E56997;
    --tinputs2:#E56997cc;
    --inputs3:#BD97CB;
    --tinputs3:#BD97CBcc;
    --backgroundImage: url(../assets/images/a4204cea3c7cd959197a514decd54975.jpg);
    
}



.download-btn-container{
text-align: center;
}


.download-btn{
    background-color: var(--principalTitles);
    color: var(--backgrounds);
    padding: .4rem;
    font-size: 2em;
    border: none;
    border-radius: .4rem;
    font-family: pastika-demo;
    margin-top: 5.5rem;
    cursor: pointer;
}

.download-btn:hover{
    margin-top: 4rem;
    background: #FA26A0;
    background: -webkit-linear-gradient(to right, #FA26A0 0%, #26DFD0 8%, #E965B2 29%, #07BB9C 50%, #E56997 67%, #BD97CB 100%);
    background: -moz-linear-gradient(to right, #FA26A0 0%, #26DFD0 8%, #E965B2 29%, #07BB9C 50%, #E56997 67%, #BD97CB 100%);
    background: linear-gradient(to right, #FA26A0 0%, #26DFD0 8%, #E965B2 29%, #07BB9C 50%, #E56997 67%, #BD97CB 100%);
    transition: 2s;

}



@media (min-width: 320px) and (max-width: 720px){
    .download-btn{
        font-size: 1em;
        margin-top: 1rem;
    }

    .download-btn:hover{
        margin-top: .5rem;
    }
}



