
/****************************************** General styles of the DOM  **********************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: var(--backgroundImage);
}

/****************************************** ADDING FONTS **********************************/


/* PRINCIPAL FONT for titles*/
@font-face{
    src: url(../assets/fonts/cosmith.sans.ttf);
    font-family: cosmith-sans;
}

/*SECONDARY FONT for subtitles and text*/
@font-face{
    src: url(../assets/fonts/pastika-demo.medium.ttf);
    font-family: pastika-demo;
}


/****************************************** END OF ADDING FONTS **********************************/ 


/****************************************** COLOR PALETTES **********************************/ 


/***** DARK MODE COLOR PALETTE **********************************/ 

:root{
    --backgrounds: rgb(24, 24, 24);
    --tbackgrounds: rgba(24, 24, 24, 0.733);
    --principalTitles: rgb(0, 244, 242);
    --tprincipalTitles: rgba(0, 244, 242, 0.733);
    --inputs: rgb(167, 170, 245);
    --tinputs: rgb(167, 170, 245,0.733);
    --secondaryTitles: rgb(100, 235, 158);
    --tsecondaryTitles: rgb(100, 235, 158,0.733);
    --buttons:rgb(180, 182, 187);
    --tbuttons:rgb(180, 182, 187,0.733);
    --inputs1:rgb(244, 145, 198);
    --tinputs1:rgb(244, 145, 198,0.733);
    --inputs2:rgb(245, 180, 108);
    --tinputs2:rgb(245, 180, 108,0.733);
    --backgroundImage: url(../assets/images/dark-mode-background.png);
}
