.text-container{
    margin: .4rem;
}




/***********************************************************************/
/********************* TITLES *****************************/
/***********************************************************************/


.text-title{
    font-size: 1em;
}

.text-subtitle{
    font-size: .9em;
    color: var(--buttons);
}

/***********************************************************************/
/********************* STYLES FOR THE TEXTAREA************************/
/***********************************************************************/


.text-area{
    width: 100%;
    color: var(--backgrounds);
    background-color: var(--tinputs3);
    border: none;
    padding: 1rem;
    text-align: center;
    font-family: pastika-demo;
    font-weight: bolder;
    margin-top: .7rem;
    border-radius: .3rem;
}



.font-selection{
    background-color: var(--tinputs3);
    border-radius: .3rem;
    padding: .4rem;
    text-align: center;
    font-size: .8em;
    margin-top: .4rem;
    width: 100%;
}


.Sweet-cherry{
    font-family: sweet-cherry;
}


.murky{
    font-family: murky;
}

.mellow-yellow{

    font-family: mellow-yellow;
}

.macho-weak{
    font-family: macho-weak;
}

.how-dare-you{
    font-family: how-dare-you;
}

.bella-years{
    font-family: bella-years;
}

.pastika-demo{
    font-family: pastika-demo;
}

.cosmith-sans{
    font-family: cosmith-sans;
}


.font-size{
    width: 40%;
    height: 3rem;
    background-color: var(--tinputs3);
    border-radius: .3rem;
    padding: .4rem;
    font-family: pastika-demo;
    font-size: 1em;
    text-align: center;
}